@font-face{
    font-family: GillSans;
    src: url('../fonts/GillSans.ttc');
}


/*Main CSS */

body {
    font-family: Arial;
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;     
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    opacity: 1;
}


.ease-in{
	opacity: 1;
}

::selection {
    color:#ffffff;
    background-color: #468EFA;
}

::-moz-selection{
    color:#ffffff;
    background-color: #468EFA;
}

.visible{
    visibility: visible;
}

.not-visible{
    visibility: hidden;
}

p{
    font-family: "Quicksand", sans-serif;
    font-weight: 400; 
    font-style: normal;
    font-size: 22px;
}

h1{
    background-color: #468EFA;
    color: #fff;
    font-family: "Quicksand", sans-serif !important;
    display: inline-block;
    padding: 20px;
    width: 100%;
    border-radius: 3px;
    font-weight: 300; 
    margin-top: 75px;
}

h2{
	font-family: "Quicksand", sans-serif !important;
	font-size: 20px !important;
	font-weight: 300 !important;
}

h3{
    font-family: "Quicksand", sans-serif !important;
}

li{
	font-family: "Quicksand", sans-serif;
	font-size: 28px; 
	color:#5F5C5D;
}

/*END Main CSS */

.list-head{
	font-family: "Quicksand", sans-serif;
	font-size: 20px; 
	border-bottom: 1px solid #5F5C5D;
	margin-bottom: 15px;
	color:#5F5C5D;
}

/*Side Bar*/

#site-title{
    font-size: 60px;
    text-align: center !important;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: 'GillSans', sans-serif; 
}

#site-subtitle{
    font-weight: 600;
    padding: 17px;
    text-align: center;
    font-size: 20px;
    border-bottom: #fff 5px solid;
    border-top: #fff 5px solid;
    padding-top: 8px;
    padding-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
    line-height: 20px;
    margin-bottom: 20px;
}

/*Navigation Links*/

.portfolioFilter{
    background-color: #468EFA;
    box-shadow: -2px 0 7px #888;
    font-family: "Quicksand", sans-serif;
    color: #fff;
    height: 100%;
    width: 30%;
    max-width: 270px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    float: right;
    padding-left: 4px;
    line-height: 30px;
    padding-right: 4px;
    min-height: 600px;
    -webkit-transform-style: preserve-3d;
}

.portfolioFilter li a {
    font-size: 20px;
    line-height: 24px;
    height: 100%;
    color:white;
    font-size: 22px;
    text-decoration:none;
    transition: color .25s linear;
    -webkit-transition: color .25s linear;
    -moz-transition: color .25s linear;
    -ms-transition: color .25s linear;
    -o-transition: color .25s linear;
}

.portfolioFilter li a:hover { 
    height: 100%;
    color:#1f4a89;
    text-decoration:none; 
    transition: color .25s linear;
    -webkit-transition: color .25s linear;
    -moz-transition: color .25s linear;
    -ms-transition: color .25s linear;
    -o-transition: color .25s linear;
}

ul.nav li {
    padding-left: 20px; 
}

ul.nav li.current {
    padding-left: 15px; 
    border-left: #fff 5px solid;
    color: #fff;
}

/*End Navigation Links*/

img {
    max-width: 100%;
    height: auto;
}




/*Branding */

.branding{
	position: absolute;
	bottom: 20px;
    right: 0px;
	margin-left: 5px;
    padding: 25px;
    background-color: white;
    border-radius: 3px 0px 0px 3px;
}

.branding #imp{
	text-transform: uppercase;
	font-size: 10px;
    line-height: 15px;
    color: #468EFA;
    margin-top: 10px; 
    font-weight: 600;
}


/*END Branding*/

/*END Side Bar*/

/*Content Elements*/

/*Figure*/

.figure p{
	padding: 20px;
	text-align: center;
	vertical-align: middle;
	font-family: 'Quicksand' sans-serif;
	font-size: 3rem;
	font-weight: 600; 
	color: #fff;
	display: inline-block;
	background-color: none;
	margin-bottom: 0px !important;
}

.figure span{
	padding: 20px;
	text-align: center;
	vertical-align: middle;
	font-family: 'Quicksand' sans-serif;
	font-size: 1.2rem;
	font-weight: 200; 
	color: white;
	display: inline-block;
	position: relative;
	line-height: 22px;
	height: 90px;
}

.figure-text{
	background-color: #468EFA;
	border-radius: 2px;
	box-shadow: 0px 0px 7px #6f6f6f;
}

.figure-number{
	background-color: #468EFA;
	box-shadow: 0px 0px 7px #6f6f6f;
	border-radius: 2px;
	height: 90px;
	width: 90px;
}

/*Timeline*/

.vco-storyjs .vco-feature h1, .vco-storyjs .vco-feature h2, .vco-storyjs .vco-feature h3, .vco-storyjs .vco-feature h4, .vco-storyjs .vco-feature h5, .vco-storyjs .vco-feature h6 {
    font-family: 'Quicksand',sans-serif !important;
    color: #468EFA !important;
    font-weight: 800 !important;
}

/*Blog Highlight Boxes*/

.tile {
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 20px;
    position: relative;
}

.item-margin{
    height: 100%;
    width: 100%;
}

.clickable{
    cursor: pointer;
    z-index: 999;
    box-shadow: 0px 0px 7px #6f6f6f;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        transition: all .2s linear;
}

.clickable:hover{
    z-index: 999;
    box-shadow: 0px 0px 15px #6f6f6f;
    transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -webkit-transform: scale(1.05,1.05);
        -webkit-backface-visibility: hidden;
        -moz-transform:scale(1.05,1.05);
        opacity: 1;
        -webkit-opacity: 1;
        -moz-opacity: 1;
}

.highlight-image {
width: auto;
}

.cover {
    background-color: 
    rgba(255, 255, 255, .8);
    box-shadow: inset 0 -1px 3px #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: auto;
    display: inline-block;
}

.cover .inner-wrapper {
    padding: 10px;
}

.all-caps {
    text-transform: uppercase;
    font-size: .8em;
    color: #827C7B;
    font-weight: 600;
}

.big-title {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    font-weight: 600; 
    vertical-align: baseline;
    text-transform: uppercase;
    color: 
    #827C7B;
}

.small-title {
    color: 
    #468efa;
}

/*Map*/
#map{
    width: 900px;
    height: 415px;
    background-image: url('../img/map.png');
    background-size:100%;
    background-repeat: no-repeat;
}
.well{
    margin: 20px;
}

.touch-point{
    height: 40px;
    width: 40px;
    background-image: url('../img/marker.png');
    background-size:100%;
    cursor: pointer;
}

.map-point{
    height: 40px;
    width: 40px;
    background-image: url('../img/marker.png');
    background-size:100%;
    cursor: pointer;
}

#example{
    width: 50px;
    height: 50px;
}

#a{
    position: relative;
    top: 84px;
    left: 148px;
}

#b{
    position: relative;
    top: 32px;
    left: 163px;
}

#c{
    position: relative;
    top: 43px;
    left: 580px;
}

#d{
    position: relative;
    top: 45px;
    left: 644px;
}

#e{
    position: relative;
    top: 63px;
    left: 654px;
}

#f{
    position: relative;
    top: -105px;
    left: 451px;
}

#g{
    position: relative;
    top: -96px;
    left: 134px;
}

#h{
    position: relative;
    top: -11px;
    left: 426px;
}

#i{
    position: relative;
    top: -141px;
    left: 375px;
}

#j{
    position: relative;
    top: -159px;
    left: 454px;
}
/*END Map*/


/*END Content Elements*/

/*Custom CSS Grid*/

.height1{
	height: 250px;
	margin-top: 28px;
    margin-bottom: 28px;
}

.height2{
	height: 500px;
	margin-top: 28px;
}

.height3{
    height: 750px;
    margin-top: 28px;
}

/*END Custom CSS Grid*/

#testimony1{
	background-image: url('../images/testimony1.png');
	color:white;
	padding: 25px;
	text-shadow: 1px 1px 5px black;
}

.fig{
	text-align: center;
}

.outer-container{
	margin-left: 60px !important;
}

.content{
    margin-top: 50px;
    margin-right: 280px;
    max-width: 1100px;
}

@media (max-width: 768px) {
    .content{
        margin-right: 50px;
    }
}

@media (min-width: 1400px) {
    .content{
        margin-left: 150px;
    }
}

ol3 { width: 370px; }
.has-gutters .col4 { width: 550px; }

/**** Transitions ****/


.animate-enter, 
.animate-leave { 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.animate-leave.animate-leave-active,
.animate-enter {
    -webkit-transform: scaleY(0) scaleX(0);
    -moz-transform: scaleY(0) scaleX(0);
    -ms-transform: scaleY(0) scaleX(0);
    -o-transform: scaleY(0) scaleX(0);
    transform: scaleY(0) scaleX(0);
    height: 0px;
    opacity: 0;
}

.animate-enter.animate-enter-active,
.animate-leave {
    -webkit-transform: scaleY(1) scaleX(1);
    -moz-transform: scaleY(1) scaleX(1);
    -ms-transform: scaleY(1) scaleX(1);
    -o-transform: scaleY(1) scaleX(1);
    transform: scaleY(1) scaleX(1);
    height: 30px;
    opacity: 1;
}

.input-group-addon{
    color: #468EFA;
}

.search-bg{
    width: 600px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.search-toggle{
    height: 50px;
    width: 50px;
    position: fixed;
    background-color: #468EFA;
    top: 0px;
    left: 0px;
    padding: 5px;
    cursor: pointer;
    border-radius: 0px 0px 3px 0px;
    box-shadow: 0px 0px 7px #6f6f6f;
    z-index: 1000;
    -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        transition: all .2s linear;
}

.search-toggle:hover{
    box-shadow: 0px 0px 15px #6f6f6f;
    -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        transition: all .2s linear;
}

.search-toggle-clicked{
    height: 50px;
    width: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 5px;
    cursor: pointer;
    border-radius: 0px 0px 3px 0px;
    z-index: 1000;
    background-color: #468EFA;
    box-shadow: inset 0px 0px 7px #6f6f6f;
    -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        transition: all .2s linear;
}

.input-group{
    opacity: 0;
    width: 500px;
    left: 75px;
    z-index: 1000
    margin-right: 390px;
    top: 10px;
    position: absolute !important;
    transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -o-transition: opacity .25s linear;
}

.showSearch{
    opacity: 1 !important;
    transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;     
    -moz-transition: opacity .25s linear;
    -o-transition: opacity .25s linear;
}

.hideSearch{
    opacity: 0 !important;
    transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;     
    -moz-transition: opacity .25s linear;
    -o-transition: opacity .25s linear;
}

div.next-button a{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 35px;
    color: white;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    transition: color .25s linear;
    -webkit-transition: color .25s linear;
    -moz-transition: color .25s linear;
    -ms-transition: color .25s linear;
    -o-transition: color .25s linear;

}

div.next-button a:hover{
    color:#1f4a89;
    transition: color .25s linear;
    -webkit-transition: color .25s linear;
    -moz-transition: color .25s linear;
    -ms-transition: color .25s linear;
    -o-transition: color .25s linear;
}

div.next-button{
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 0px 3px 3px 0px;
    background-color: #468EFA;
    display: none;
    z-index: 1000;
    box-shadow: 0px 0px 7px #6f6f6f;
}

div.next-button:hover{
    box-shadow: 0px 0px 15px #6f6f6f;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        transition: all .2s linear;
}

.logo-image{
    opacity: 1;
    cursor: pointer;
    width: 200px;
    transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;     
    -moz-transition: opacity .25s linear;
    -o-transition: opacity .25s linear;
}

.logo-image:hover{
    opacity: .7;
    transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;     
    -moz-transition: opacity .25s linear;
    -o-transition: opacity .25s linear;
}

#search-glass{
    width: 50px;
    height: 40px;
}

.bottom-margin{
    margin-bottom: 20px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

.spacer{
    background-color: white;
}