<!doctype html>
<html lang="en" id="ng-app" ng-app ng-controller="mainCtrl">
<head>
  <meta charset="utf-8">
  <!--Created by Charlie Weems (charlieweems.com) @charlieweems https://github.com/cweems/QED-angular-closeout-site-->
  <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  <title ng-model="query" ng-bind-template="KDMD • The Knowledge Driven Microenterprise Development Project • {{Filter.type}}">KDMD • The Knowledge Driven Microenterprise Development Project • </title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="js/bootstrap-tooltip.js"></script>
  <script src="js/bootstrap-popover.js"></script>
  <script src="js/scrollspy.js"></script>

  <!--CDNs -->

  <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
  <!--Internal JS-->

  <script src="js/controllers.js"></script>
  <script src="js/jquery-easing.js"></script>
  <script src="js/waypoints.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/jquery.scrollTo-1.4.3.1-min.js"></script>

  <!-- build:js /js/main.js -->

   <!--GA-->

  <script type="text/javascript">
 
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26233287-1']);
    _gaq.push(['_trackPageview']);
   
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
 
  </script>

</head>

<body>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=370261533087575";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <div class="col-md-3 pull-right" ng-click="query = null">
        <div class="portfolioFilter">
          <div id="site-title">KDMD</div>
          <div id="site-subtitle">The Knowledge-Driven<br>Microenterprise<br>Development<br>Project</div>
          <div class="final-report-text">• Final Report •</div>
          <div id="nav-links">
            <ul class="nav nav-list affix">
              <li class="active"><a href="#Introduction" id="summary">Introduction</a></li>
              <li><a href="#Welcome" id="first-link">Letter from the Team</a></li>
              <li><a href="#Evolution" id="second-link">Evolution of KDMD</a></li>
              <li><a href="#Approach" id="third-link">Our KM Approach</a></li>
              <li><a href="#Partners" id="fourth-link">Our USAID Partners</a></li>
              <li><a href="#Communities" id="fifth-link">Building Communities</a></li>
              <li><a href="#Reach" id="sixth-link">Our Reach</a></li>
              <li><a href="#Impact" id="seventh-link">Our Impact</a></li>
              <li><a href="#Team" id="eighth-link">Our Team, Our Story</a></li>
              <li><a href="#Contact" id="ninth-link">Contact</a></li>
            </ul>
          </div>
  
          <div class="branding">
            <a href="http://usaid.gov">
              <img class="logo-image" src="img/usaid.png">
            </a>
            <p id="imp"><a href="http://www.qedgroupllc.com" target="_blank">Implemented by The QED Group, LLC</a></p>
          </div>
           <!-- End Sidebar content-->
      </div>
</div>

<div class="search-bg">
  <div class="search-toggle" ng-click="show = !show" ng-class="{'search-toggle' : !show, 'search-toggle-clicked' : show}">
    <img id="search-glass"src="img/searchGlassWhite.png">
  </div>
  <div class="input-group" ng-class="{'showSearch' : show, 'hideSearch' : !show}">
    <span class="input-group-addon">Search:</span>
    <input name="q" ng-click="Filter.type = '!welcome'" type="text" class="form-control" placeholder="e.g.'timeline' or 'social media' or 'impact'" ng-model="query">
  </div>
</div>
 <!-- End Search Tool-->




<div class="container outer-container container-fluid">

      <div class="content" data-spy="scroll" data-target="#nav-links ul li a">

        <!--Body content-->
            <div ng-animate="'animate'" ng-repeat="item in items | filter:Filter | filter:query | orderBy:orderProp" id="{{item.id}}" class="{{item.class}} {{item.width}} {{item.height}}">
              <div class="tile item-margin {{item.clickable}}" data-toggle="{{item.modal}}" href="{{item.href}}" style="background-image: url('{{item.imageUrl}}');">
                <div ng-bind-html-unsafe="item.html"></div>
                <div class="cover {{item.covervisible}}">
                  <div class="inner-wrapper">
                    <div class="all-caps">{{item.heading}}</div>
                    <div class="big-title">{{item.bigTitle}}</div>
                    <div class="small-title">{{item.smallTitle}}</div>
                  </div>
                </div>
              </div>
            </div>
      </div>


      <!--END Body content-->
<div class="next-button">
  <a data-ng-click="Filter.type = nextButton.filter" href="{{nextButton.href}}" id="{{nextButton.identification}}">{{nextButton.text}} &rsaquo;</a>
</div>

</div>

<!--Modals-->

<div ng-repeat="item in modals">

    <div class="modal fade" id="{{item.id}}">
      <div class="modal-dialog" style="width: {{item.width}};">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h1 class="modal-title">{{item.header}}</h1>
            </div>
            <div class="modal-body" id="{{item.id}}" ng-bind-html-unsafe="item.content"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
  
</div>
<script type='text/javascript'>('.modal-backdrop, #stacey-video .close, #stacey-video .btn').click(function(event){console.log('clicked!');$('#stacey-video iframe').attr('src','');});</script>

</body>
</html>
